<template>
  <div id="app">
    <input type="text" v-model="nameCity" placeholder="Введите город" class="input">
    <div class="block" v-if="nameCity">
      <div v-for="name in displayCities">
        <p>{{ name.City }}</p>
      </div>
    </div>
  </div>
</template>

<script>
const cities = require('./kladr.json')
export default {
  name: 'app',
  data () {
    return {
      cities,
      nameCity: null,
      bool:false
    }
  },
  computed: {
  displayCities(){
    let arr = this.cities
    let nameCityLow = this.nameCity.toLowerCase()
      if (this.nameCity){
        let nameCityLow = this.nameCity.toLowerCase()
        arr = arr.filter(city => {
          return city.City.toLowerCase().includes(nameCityLow)
        });
      }
        arr = arr.slice(0, 30)
        return arr 
      },
  },
created(){
  },
  methods:{
    
  }
}
</script>

<style>
.input{
  width: 200px;
}
#app {
  font: 14px “Segoe UI”; 
  color: #404040; 
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: start;
}
.block{
  border: 1px solid black; 
  height: 100px;
  overflow: auto;
  width: 200px;
}


</style>
